.button {
    background-color: var(--body-color);
    border: 3px solid var(--primary-color);
    color: var(--title-color);
    padding: 1rem 2rem;
    box-shadow: 0 8px 32px hsla(var(--hue), 60%, 64%, .5),
                inset 8px -8px 30px var(--primary-color-alt);
    border-radius: 0rem;
    font-family: var(--secondary-font);
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    transition: box-shadow .4s;
}

.button i {
    font-weight: initial;
    font-size: 1rem;
}

.button:hover {
    box-shadow: 0 8px 48px hsla(var(--hue), 60%, 64%, .7),
                inset 8px -8px 30px var(--primary-color-alt);
}
