/* ============== HEADER AND NAVIGATION ============== */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(
    180deg,
    var(--body-color) 60%,
    hsla(240, 100%, 2%, 0) 100%
  );
  z-index: var(--z-fixed);
}

.header .blob-animate {
  top: -3rem;
  left: -3rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;
}

.nav__logo {
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  font-size: var(--h1-font-size);
  transition:
    color 0.4s,
    text-shadow 0.4s;
}

.nav__logo:hover {
  color: var(--primary-color);
  text-shadow: 0 8px 16px var(--first-color);
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 0.5rem;
}

.nav__link {
  color: var(--title-color);
  font: var(--font-semi-bold) var(--normal-font-size-alt) var(--second-font);
  position: relative;
  transition:
    color 0.4s,
    text-shadow 0.4s;
}

.nav__link:hover {
  color: var(--primary-color);
  text-shadow: 0 8px 16px var(--secondary-color);
}


.nav__link.active {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 2px;
}

.nav__link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 2px;
  background: var(--primary-color);
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.nav__link:hover::after,
.nav__link.active::after {
  width: 100%;
}